---
// export let HeaderItems = ["A", "B", "C", "D"]
const { HeaderItems, ContentItems } = Astro.props;

---



<hr>
<div class=" flex flex-row ">
    <div class="grow italic text-xl">
        <ul>
            <li>
                {HeaderItems[0]}
            </li>
            <li>
                {HeaderItems[2]}
            </li>
        </ul>
    </div>
    <div class="grow text-right">
        <ul>
            <li>
                {HeaderItems[1]}
            </li>
            <li>
                {HeaderItems[3]}
            </li>
        </ul>
    </div>
</div>
<div>
    <slot>
        <ul class="list-disc list-inside prose max-w-4xl">
            {
                ContentItems.map(ci => (
                    <li class=" my-0">{ci}</li>
                    )
                )
            }
        </ul>
    </slot>
</div>